 .u-section-1 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1874px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 82px 94px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-1 .u-group-1 {
  margin-top: 19px;
  margin-bottom: 0;
  min-height: 90px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-shape-1 {
  width: 963px;
  height: 53px;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -41px 141px 0 225px;
}

.u-section-1 .u-text-5 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: -35px auto 0 14px;
}

.u-section-1 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 90px;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: 22px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 963px;
  height: 45px;
  margin: -41px 18px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 69px;
  margin: -34px auto 0;
}

.u-section-1 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 450px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-shape-3 {
  width: 963px;
  height: 391px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  width: 285px;
  margin: -388px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: -213px auto 171px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-icon-1 {
  margin-top: 3px;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 1104px;
  height: 367px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5625rem;
  margin: 9px 0 0;
}

.u-section-1 .u-icon-2 {
  margin-top: 3px;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  height: 341px;
  margin-top: -7px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1819px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 880px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 41px;
    margin-left: 125px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 77px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 880px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1746px;
  }

  .u-section-1 .u-shape-1 {
    width: 660px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 660px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1686px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-3 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1620px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    width: 320px;
  }

  .u-section-1 .u-shape-3 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 113px;
  }
} .u-section-2 {
  background-image: linear-gradient(#d9d9d9, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 1996px;
}

.u-section-2 .u-text-1 {
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 4px auto 0 0;
}

.u-section-2 .u-group-elements-1 {
  width: 731px;
  min-height: 893px;
  margin: 32px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 692px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  width: 720px;
  margin: -692px 7px 0 6px;
}

.u-section-2 .u-text-4 {
  margin: -84px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -80px auto 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 90px;
  height: auto;
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-shape-2 {
  width: 963px;
  height: 53px;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  width: 222px;
  margin: -40px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: -36px auto 0 14px;
}

.u-section-2 .u-group-2 {
  background-image: none;
  min-height: 90px;
  height: auto;
  width: 100%;
  margin: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: 22px auto 0 0;
}

.u-section-2 .u-shape-3 {
  width: 963px;
  height: 45px;
  margin: -41px 18px 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 69px;
  margin: -34px auto 0;
}

.u-section-2 .u-group-3 {
  background-image: none;
  min-height: 86px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-2 .u-text-10 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: 22px auto 0 0;
}

.u-section-2 .u-shape-4 {
  width: 963px;
  height: 56px;
  margin: -49px 18px 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 165px;
  margin: -41px auto 0;
}

.u-section-2 .u-group-4 {
  background-image: none;
  min-height: 90px;
  height: auto;
  width: 100%;
  margin: 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-weight: 900;
  font-size: 2.1875rem;
  margin: 22px auto 0 0;
}

.u-section-2 .u-shape-5 {
  width: 963px;
  height: 45px;
  margin: -41px 18px 0 auto;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 69px;
  margin: -34px auto 1px;
}

.u-section-2 .u-text-14 {
  font-size: 1.5625rem;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  margin-top: 3px;
}

.u-section-2 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  height: 377px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.5625rem;
  margin: 50px 0 0;
}

.u-section-2 .u-icon-2 {
  margin-top: 3px;
}

.u-section-2 .u-text-17 {
  margin: 4px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-shape-2 {
    width: 880px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-shape-3 {
    width: 77px;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-4 {
    width: 77px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: 69px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-shape-5 {
    width: 77px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-2 .u-shape-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 320px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f2f2f2, #d9d9d9);
}

.u-section-3 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 681px;
  height: 577px;
  background-image: none;
  margin: 13px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: -562px 198px 20px 238px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 138px;
    margin-right: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }
}